Pandas

[pandas官方文档](https://pandas.pydata.org/docs/user_guide/index.html)

In [2]:
import numpy as np
import pandas as pd

# Series和DataFrame

## Series

In [4]:
sr = pd.Series([1,2,3])
sr

0    1
1    2
2    3
dtype: int64

### Series操作

In [42]:
sr[0]

1

In [41]:
sr[[0,1]]

0    1
1    2
dtype: int64

## DataFrame

In [6]:
df1 = pd.DataFrame([
    [1,2],
    [3,4]
])
df1

   0  1
0  1  2
1  3  4

In [76]:
df1[0] # index变成以列为维度。一般来说df中都会定义column。这种不定义的情况较少

0    1
1    3
Name: 0, dtype: int64

In [77]:
df1[[0,1]]

   0  1
0  1  2
1  3  4

In [78]:
df2 = pd.DataFrame([
    [1,2],
    [3,4]
],columns=['a','b'])
df2

   a  b
0  1  2
1  3  4

In [79]:
df2.index

RangeIndex(start=0, stop=2, step=1)

In [80]:
df2.columns

Index(['a', 'b'], dtype='object')

In [83]:
df2.values # 二维数组

array([[1, 2],
       [3, 4]])

In [84]:
df2.dtypes

a    int64
b    int64
dtype: object

### DataFrame操作

In [85]:
#df2[0] # dataframe不能用数字索引

In [86]:
df2['b'] #选择b列 返回series

0    2
1    4
Name: b, dtype: int64

In [87]:
df2[['a','b']] # 选取两列

   a  b
0  1  2
1  3  4

In [88]:
df2[[True,False]] # 布尔索引是按行来索引的

   a  b
0  1  2

In [56]:
df2[0:1] # 选取索引0-1 不包含1

   a  b
0  1  2

In [51]:
###两个括号就是维持原来的dim. 如果一个括号就会降维。 但是也要注意本身括号里的是不是一个list-like

df2[ df2['a']>2 ]

df2[ (df2['a']>0) & (df2['b']>0) ]#如果两个条件要加括号

df2[ ~(df2['a']>2)] #取反也要记得加括号

   a  b
0  1  2

In [57]:
df3 = pd.DataFrame([
    [1,2],
    [3,4]
],columns=['a','b'],index=['A','B'])
df3

   a  b
A  1  2
B  3  4

In [60]:
df3['A':'B'] # 如果不是数字索引，那么是两端都包含

   a  b
A  1  2
B  3  4

In [89]:
## df[[col1]]和df[col1]结果都是一列 但是他们两性质不一样  前者还是返回dataframe 后者是series

# 数据存储与读取

## CSV

### read_csv()

### to_csv()

## Excel

### read_excel()

### to_excel()

## SQL

### read_sql()

### to_sql()

## Dict

### from_dict()

### to_dict()

## Table

### read_table()

# 常用

## loc

In [65]:
# df.loc[row_idx] # 选择一行
# df.loc[row_idx,col_idx] #选择一个元素