Pandas

[pandas官方文档](https://pandas.pydata.org/docs/user_guide/index.html)

In [2]:
import numpy as np
import pandas as pd

# Series和DataFrame

## Series

In [4]:
sr = pd.Series([1,2,3])
sr

0    1
1    2
2    3
dtype: int64

### Series操作

In [42]:
sr[0]

1

In [41]:
sr[[0,1]]

0    1
1    2
dtype: int64

## DataFrame

In [8]:
df1 = pd.DataFrame([
    [1,2], # 第一行
    [3,4], # 第二行数据
    [5,6]
])
df1

   0  1
0  1  2
1  3  4
2  5  6

In [9]:
df1[0] # index变成以列为维度。一般来说df中都会定义column。这种不定义的情况较少

0    1
1    3
2    5
Name: 0, dtype: int64

In [10]:
df1[[0,1]]#这个地方也是column

   0  1
0  1  2
1  3  4
2  5  6

In [11]:
df2 = pd.DataFrame([
    [1,2],
    [3,4]
],columns=['a','b'])
df2

   a  b
0  1  2
1  3  4

In [12]:
df2.index

RangeIndex(start=0, stop=2, step=1)

In [13]:
df2.columns

Index(['a', 'b'], dtype='object')

In [14]:
df2.values # 二维数组

array([[1, 2],
       [3, 4]])

In [15]:
df2.dtypes

a    int64
b    int64
dtype: object

### DataFrame操作

In [16]:
#df2[0] # dataframe不能用数字索引,除非定义的columns是数字

In [86]:
df2['b'] #选择b列 返回series

0    2
1    4
Name: b, dtype: int64

In [87]:
df2[['a','b']] # 选取两列

   a  b
0  1  2
1  3  4

In [17]:
df2[[True,False]] # 布尔索引是按行来索引的

   a  b
0  1  2

In [56]:
df2[0:1] # 选取索引0-1 不包含1

   a  b
0  1  2

In [18]:
###两个括号就是维持原来的dim. 如果一个括号就会降维。 但是也要注意本身括号里的是不是一个list-like

df2[ df2['a']>2 ]

df2[ (df2['a']>0) & (df2['b']>0) ]#如果两个条件要加括号

df2[ ~(df2['a']>2)] #取反也要记得加括号

   a  b
0  1  2

In [19]:
df3 = pd.DataFrame([
    [1,2],
    [3,4]
],columns=['a','b'],index=['A','B'])
df3

   a  b
A  1  2
B  3  4

In [20]:
df3['A':'B'] # 如果不是数字索引，那么是两端都包含

   a  b
A  1  2
B  3  4

In [89]:
## df[[col1]]和df[col1]结果都是一列 但是他们两性质不一样  前者还是返回dataframe 后者是series

# 数据存储与读取

## CSV

### read_csv()

pd.read_csv(filepath_or_buffer, sep=NoDefault.no_default, delimiter=None, header='infer', names=NoDefault.no_default, index_col=None, usecols=None, squeeze=False, prefix=NoDefault.no_default, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)

# 常用
- filepath_or_buffer 可以是文件路径也可以是url
- encoding 一般使用utf-8，如果是平台的bom格式，使用utf-8-sig
- index_col 指定索引列
- usecols 一般用来指定列的范围
- dtype 用于指定列的数值类型

In [41]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/350_0af71498f139412cb602f67a18371098.csv",encoding='utf-8-sig')
#df.info()
df.head(1)

,csv_batch_id,project_id,lang,file_id,session_id,person_info_id,audio_url,origin_duration,pre_content_text,pre_audio_type,pre_regions
0,350,3532,Urdu,18060742,115928,3374,appen://3532_Ake__URD_IND/Staging/AMR_DATA/Ake...,5.4,تم کو عضو کا استعمال کب سے جانتے ہو,TYKY,"[{""start"": 1.405, ""end"": 4.805}]"

In [36]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/350_0af71498f139412cb602f67a18371098.csv",
                 index_col = "file_id",
                 encoding='utf-8-sig')
df.loc[18060742]  # loc by index
# 被设置成index 将不在输出字段内
df.loc[18060742].to_dict()

{'csv_batch_id': 350,
 'project_id': 3532,
 'lang': 'Urdu',
 'session_id': 115928,
 'person_info_id': 3374,
 'audio_url': 'appen://3532_Ake__URD_IND/Staging/AMR_DATA/Ake_0Urdu_URD_IND_URD24071_20220111-060628/Ake_0Urdu_URD_IND_URD24071_20220111-060628_0056_RDTYKY000480_01.wav',
 'origin_duration': 5.4,
 'pre_content_text': 'تم کو عضو کا استعمال کب سے جانتے ہو',
 'pre_audio_type': 'TYKY',
 'pre_regions': '[{"start": 1.405, "end": 4.805}]'}

In [40]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/350_0af71498f139412cb602f67a18371098.csv",
                 usecols= ["project_id","lang"],
                 encoding='utf-8-sig')
df.head(1)

   project_id  lang
0        3532  Urdu

### 扩展dtypes

#### 默认

In [42]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/350_0af71498f139412cb602f67a18371098.csv",
                 encoding='utf-8-sig')
df.dtypes

csv_batch_id          int64
project_id            int64
lang                 object
file_id               int64
session_id            int64
person_info_id        int64
audio_url            object
origin_duration     float64
pre_content_text     object
pre_audio_type       object
pre_regions          object
dtype: object

In [60]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/string_test.csv")
df ## pandas会自动判断类型，可以指定类型
df.dtypes

text_content    object
flag             int64
dtype: object

#### 根据值做可能转换

In [85]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/string_test.csv")
df =df.convert_dtypes()
df.dtypes # object被转成了string

text_content    string
flag             Int64
full_text       string
dtype: object

#### 几种str转换类型的比较

In [111]:
sr = pd.Series(["a","b",1,None],dtype="string")
#sr[3] is None #False
sr # 类型已被强转了

0       a
1       b
2       1
3    <NA>
dtype: string

In [3]:
#string类型是后来加上的，注意版本的兼容性 如果是老版本需要。否则会类型报错
## 老版本要按这个例子来使用
sr3 = pd.Series(["a","b",1,None]).astype("str").astype("string")  # 注意也可以直接用
sr3  # 如果原来是None转换的时候会保留

#sr3.isnull() # 全False
#sr3.notnull() # 全True
sr3 # 所以isnull和notnull只是针对pd自己的NaN类型
#type(sr3[3]) # str

0       a
1       b
2       1
3    None
dtype: string

#### 从文件读取，没有None.在读取的时候就指定dtype,

In [4]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/string_test.csv",
                dtype={"flag":str,"text_content":"string"})
df.dtypes ## 注意text_content是str类型

text_content    string
flag            object
full_text       object
dtype: object

In [5]:
df["text_content"]

0                              this is a test line one
1    this is a test line two, this is a test line t...
2                                                 <NA>
3                                                 <NA>
Name: text_content, dtype: string

#### 使用dtype事前和 astype时候转换的区别

In [6]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/string_test.csv",
                dtype={"flag":str,"text_content":"str"})
df["text_content"][2] is np.nan # True

True

In [7]:
# 注意!! 如果事后再转换类型，会把NaN改成文本类型,注意astype的问题
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/string_test.csv")
df["text_content"] = df["text_content"].astype("str") # 如果事后再转换类型，会强转字符串类型
df["text_content"][2] =='nan' # True

True

In [8]:
df = pd.read_csv("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/string_test.csv")
df = df.where(df.notnull(), None)
df

                                        text_content  flag full_text
0                            this is a test line one     0       abc
1  this is a test line two, this is a test line t...     2       efg
2                                               None     3        dd
3                                               None     4        cc

### to_csv()

In [9]:
df.to_csv(
    "test_01.csv",
    sep=",",#默认
    encoding='utf-8-sig', # 默认'utf-8'，
    index=False # 默认是true, 一般记得要加
)

## Excel

### read_excel()

In [ ]:
pd.read_excel(
    io,"io 路径或者url"
    sheet_name=0,"默认是第一个sheet  可以是int,str,list,None None是全部 list和None返回的是字典"
    header=0,"默认第一行，列索引 如果没有表头，指定header=None"
    index_col=None,'默认没有'
    usecols=None,"默认拿出所有的列, 几种方式A:C, A,C [0,2] ['AAA','CCC] lambda i:i=='AAA' "
    skiprows=None, #跳过行 skiprows=1跳过的行数，或者 shiprows=[0,2]，
    names = ['a','b','c'] # header是None的时候，指定names,否则会替换掉第一行的数据。
    dtype={'a':'str'}# 注意都是字符串
    parse_dates=False # True 尝试解析 [0,1] [[0,1,2]] ['a','b']
    date_parser=None #function 日期解析函数 为None的时候会使用内部的解析器解析.
    na_values = None,#'a' #'NA' ['NA','#NA','0',0],
    converters=None #{"a":lambda i:i+1},
    mangle_dupe_cols=True,"默认允许重复并且会重命名重复的列 不能设置成False 还不支持" 
)

In [11]:
# excel_df = pd.read_excel("http://appen-pe.oss-cn-shanghai.aliyuncs.com/example_data/pandas_kt/email_update.xlsx")
# excel_df.head()
# 如果要读excel 需要安装 xlrd和xlwt

In [12]:
#df = pd.read_excel("test.xlsx", sheet_name=["Sheet1", "Sheet3"]) 可以一次获取多个sheet

### to_excel()

df.to_excel(
    excel_writer,# 文件目录名
    sheet_name='Sheet1',
    index=False,
    na_rep='' # 缺失值的表示方式
)

### 如果要讲多个dataframe写入到不同的sheet
with pd.ExcelWriter("test.xlsx") as wt:
    df1.to_excel(sheet_name="sheet1")
    df2.to_excel(sheet_name="sheet2")

## 添加新的数据
df3 = df1.copy()
with pd.ExcelWriter('output.xlsx', mode="a", engine="openpyxl") as writer:
    df3.to_excel(writer, sheet_name='Sheet_name_3_3_3')

## SQL

In [ ]:
import psycopg2
conn = psycopg2.connect(host=RDS_DATA_DB_HOST, user=RDS_DATA_DB_USER,
                            password=RDS_DATA_DB_PSW, database=RDS_DATA_DB_NAME,
                                port=RDS_DATA_DB_PORT)

### read_sql()

In [ ]:
pd.read_sql(sql, conn)

### to_sql()

DataFrame.to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None, method=None)

In [ ]:
engine = create_engine(
        f'postgresql+psycopg2://{RDS_DATA_DB_USER}:{RDS_DATA_DB_PSW}@{RDS_DATA_DB_HOST}:{RDS_DATA_DB_PORT}/{RDS_DATA_DB_NAME}',
        poolclass=NullPool,
        connect_args={'connect_timeout': 30}
    )

df.to_sql('nums', con=engine,index=False,if_exists="append") # nums是表名，con
### 实际的工作中，尽量使用appen 不要使用replace,或者fail

if_exists
 - fail
 - append # 不存在会创建新的
 - replace # 慎用，会清空原有数据

method{None, ‘multi’, callable}, optional
Controls the SQL insertion clause used:
None : Uses standard SQL INSERT clause (one per row).
‘multi’: Pass multiple values in a single INSERT clause.

默认的None有事务的作用吗

## Table

### read_table()

df = pd.read_table("test.txt", names = ["col1", "col2"], sep=' ')

# 常用

## loc

In [65]:
# df.loc[row_idx] # 选择一行
# df.loc[row_idx,col_idx] #选择一个元素